* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html {
  margin-bottom: 14px;
  height: 100%;
  margin: -6px;
}

body {
  background: linear-gradient(
    to right,
    rgba(154, 68, 180, 0.644),
    rgba(197, 124, 64, 0.63),
    rgba(0, 0, 255, 0)
  );
  border: 2px solid black;
  background-color: white;
  border-radius: 0.4%;
  min-height: 100%;
  backdrop-filter: blur(10%);
}

.myNavbar {
  margin-bottom: 25%;
}

.myNavbar .login {
  position: absolute;
  top: 10px;
  right: 8rem;
  background-color: black;
  border-radius: 50px;
  color: white;
}

.myNavbar .Sign {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  border-radius: 50px;
  color: black;
}

.logo {
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  top: 1%;
  left: 1%;
}

.logo2 {
  margin-top: 5px;
  margin-left: 24px;
}

.images {
  margin: 3%;
  border: none;
  text-align: center;
  margin-top: 15px;
  margin-left: 4%;
  padding: 20%;
  max-width: 50%;
  margin-bottom: 25%;
}

.Imageslist {
  list-style: none;
}

.imagescontainer {
  position: relative;
  border: 2px solid;
  width: 50vw;
  height: 100%;
}

.realimage {
  display: inline-block;
}
