html {
  margin-bottom: 14px;
  height: 100%;
  margin-top: 4px;
}

body {
  border: 2px solid black;
  background-color: white;
  border-radius: 0.5%;
  min-height: 100%;
  margin-top: 4px;
  backdrop-filter: blur(10%);
}

.mainNavbar {
  position: relative;
  padding: 1%;
  text-align: center;
  margin: 0.8%;
}

.logo {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  top: 3%;
  left: 2%;
}

.butonclick {
  display: inline-block;
  margin-right: 6vw;
  padding: 0.7rem;
  font-size: small;
  color: rgb(7, 7, 7);
  text-decoration: none;
}

.mainNavbar .logo2 {
  font-size: small;
  position: absolute;
  margin-left: 1.5%;
  margin-top: 0.1px;
}

.Fathersection {
  position: relative;
  border: 2px solid rgba(190, 187, 187, 0.13);
  border-radius: 1em;
  min-width: 20vw;
  min-height: 2px;
  max-height: 2px;
  margin: 30%;
  margin-left: 30%;
  padding: 5%;
}

input {
  border: none;
  color: black;
}

.title {
  margin-top: -25%;
  position: absolute;
  color: black;
}

.myform {
  margin-left: -20px;
  margin-top: 15px;
}
